In [5]:
import pandas as pd

data = {"Name":["John","Ram","Lisa"],
        "Age":[12,21,23],
        "Gender":['M','M','F']}
print(data)
df = pd.DataFrame(data)
print(df)

{'Name': ['John', 'Ram', 'Lisa'], 'Age': [12, 21, 23], 'Gender': ['M', 'M', 'F']}
   Name  Age Gender
0  John   12      M
1   Ram   21      M
2  Lisa   23      F

In [4]:
import pandas as pd
data = pd.read_csv("hotel_booking.csv")

In [5]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\ramku\appdata\local\programs\python\python313\lib\site-packages (25.3)
Collecting pip
  Downloading pip-26.0.1-py3-none-any.whl.metadata (4.7 kB)
Downloading pip-26.0.1-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 1.8/1.8 MB 10.0 MB/s  0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 25.3
    Uninstalling pip-25.3:
      Successfully uninstalled pip-25.3
Successfully installed pip-26.0.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
data = pd.read_excel(r"C:\Users\ramku\OneDrive\Documents\CSE Data format(1)(1).xlsx")

In [6]:
print(data)

      S.NO Roll Number          Student Name  Gender                   DOB  \
0      NaN          NaN                   NaN     NaN                  NaN
1      NaN          NaN                   NaN     NaN                  NaN
2      1.0   21HM1A0517                   NaN     NaN                  NaN
3      2.0   22HM1A0501                   NaN     NaN                  NaN
4      3.0   22HM1A0502                   NaN     NaN                  NaN
..     ...          ...                   ...     ...                  ...
149  148.0   23HM5A0511  MUMMASANI MADHULATHA  FEMALE           19-12-2004
150  149.0   23HM5A0512     PATAN SUHAIB KHAN    MALE  2005-06-12 00:00:00
151  150.0   23HM5A0513  PINJARI ARIF HUSSAIN    MALE  2005-06-11 00:00:00
152  151.0   23HM5A0514          SAKE RADHIKA  FEMALE  2005-05-02 00:00:00
153  152.0   23HM5A0515    SETTIPALLI THULASI  FEMALE           17-01-2004

     Mobile Number                        Email ID Branch Academics (Marks)  \
0               NaN                            NaN    NaN               1yr
1               NaN                            NaN    NaN       Total Marks
2               NaN                            NaN    cse              1800
3               NaN                            NaN    cse              1800
4               NaN                            NaN    cse              1800
..              ...                            ...    ...               ...
149    6.302603e+09  mummasanimadhulatha@gmail.com    cse              1800
150    8.897592e+09  phatansuhaibkhan106@gmail.com    cse              1800
151    7.569061e+09    arifhussain510628@gmail.com    cse              1800
152    8.919440e+09   pujithasakepujitha@gmail.com    cse              1800
153    9.121875e+09    thulasisettipalli@gmail.com    cse              1800

         Unnamed: 9  ...     Unnamed: 15  Unnamed: 16     Unnamed: 17  \
0               NaN  ...             NaN         6sem             NaN
1    Marks Obtained  ...  Marks Obtained  Total Marks  Marks Obtained
2               NaN  ...             NaN          930             NaN
3               NaN  ...             NaN          930             NaN
4               NaN  ...             NaN          930             NaN
..              ...  ...             ...          ...             ...
149             NaN  ...             704          930             715
150             NaN  ...             702          930             577
151             NaN  ...             731          930             715
152             NaN  ...             791          930             769
153             NaN  ...             792          930             773

     Unnamed: 18     Unnamed: 19 Backlog subject codes  \
0           7sem             NaN                   NaN
1    Total Marks  Marks Obtained                   NaN
2            NaN             NaN                   NaN
3            NaN             NaN                   NaN
4            NaN             NaN                   NaN
..           ...             ...                   ...
149          NaN             NaN             20A05601T
150          NaN             NaN              20A04606
151          NaN             NaN                   NaN
152          NaN             NaN                   NaN
153          NaN             NaN                   NaN

                                         College Name  College Code   \
0                                                  NaN           NaN
1                                                  NaN           NaN
2    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
3    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
4    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
..                                                 ...           ...
149  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
150  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
151  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
152  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
153  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM

    University Name    District
0                NaN         NaN
1                NaN         NaN
2              JNTUA  YSR KADAPA
3              JNTUA  YSR KADAPA
4              JNTUA  YSR KADAPA
..               ...         ...
149            JNTUA  YSR KADAPA
150            JNTUA  YSR KADAPA
151            JNTUA  YSR KADAPA
152            JNTUA  YSR KADAPA
153            JNTUA  YSR KADAPA

[154 rows x 25 columns]

In [7]:
print(data.head(5))

   S.NO Roll Number  Student Name  Gender   DOB  Mobile Number  Email ID  \
0   NaN          NaN           NaN     NaN  NaN             NaN      NaN
1   NaN          NaN           NaN     NaN  NaN             NaN      NaN
2   1.0   21HM1A0517           NaN     NaN  NaN             NaN      NaN
3   2.0   22HM1A0501           NaN     NaN  NaN             NaN      NaN
4   3.0   22HM1A0502           NaN     NaN  NaN             NaN      NaN

  Branch Academics (Marks)      Unnamed: 9  ...     Unnamed: 15  Unnamed: 16  \
0    NaN               1yr             NaN  ...             NaN         6sem
1    NaN       Total Marks  Marks Obtained  ...  Marks Obtained  Total Marks
2    cse              1800             NaN  ...             NaN          930
3    cse              1800             NaN  ...             NaN          930
4    cse              1800             NaN  ...             NaN          930

      Unnamed: 17  Unnamed: 18     Unnamed: 19 Backlog subject codes  \
0             NaN         7sem             NaN                   NaN
1  Marks Obtained  Total Marks  Marks Obtained                   NaN
2             NaN          NaN             NaN                   NaN
3             NaN          NaN             NaN                   NaN
4             NaN          NaN             NaN                   NaN

                                       College Name  College Code   \
0                                                NaN           NaN
1                                                NaN           NaN
2  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
3  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
4  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM

  University Name    District
0              NaN         NaN
1              NaN         NaN
2            JNTUA  YSR KADAPA
3            JNTUA  YSR KADAPA
4            JNTUA  YSR KADAPA

[5 rows x 25 columns]

In [8]:
print(data.tail(5))

      S.NO Roll Number          Student Name  Gender                   DOB  \
149  148.0   23HM5A0511  MUMMASANI MADHULATHA  FEMALE           19-12-2004
150  149.0   23HM5A0512     PATAN SUHAIB KHAN    MALE  2005-06-12 00:00:00
151  150.0   23HM5A0513  PINJARI ARIF HUSSAIN    MALE  2005-06-11 00:00:00
152  151.0   23HM5A0514          SAKE RADHIKA  FEMALE  2005-05-02 00:00:00
153  152.0   23HM5A0515    SETTIPALLI THULASI  FEMALE           17-01-2004

     Mobile Number                        Email ID Branch Academics (Marks)  \
149    6.302603e+09  mummasanimadhulatha@gmail.com    cse              1800
150    8.897592e+09  phatansuhaibkhan106@gmail.com    cse              1800
151    7.569061e+09    arifhussain510628@gmail.com    cse              1800
152    8.919440e+09   pujithasakepujitha@gmail.com    cse              1800
153    9.121875e+09    thulasisettipalli@gmail.com    cse              1800

    Unnamed: 9  ... Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  \
149        NaN  ...         704         930         715         NaN
150        NaN  ...         702         930         577         NaN
151        NaN  ...         731         930         715         NaN
152        NaN  ...         791         930         769         NaN
153        NaN  ...         792         930         773         NaN

    Unnamed: 19 Backlog subject codes  \
149         NaN             20A05601T
150         NaN              20A04606
151         NaN                   NaN
152         NaN                   NaN
153         NaN                   NaN

                                         College Name  College Code   \
149  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
150  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
151  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
152  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
153  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM

    University Name    District
149            JNTUA  YSR KADAPA
150            JNTUA  YSR KADAPA
151            JNTUA  YSR KADAPA
152            JNTUA  YSR KADAPA
153            JNTUA  YSR KADAPA

[5 rows x 25 columns]

In [9]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   S.NO                   100 non-null    float64
 1   Roll Number            100 non-null    object
 2   Student Name           54 non-null     object
 3   Gender                 54 non-null     object
 4   DOB                    54 non-null     object
 5   Mobile Number          54 non-null     float64
 6   Email ID               54 non-null     object
 7   Branch                 100 non-null    object
 8   Academics (Marks)      102 non-null    object
 9   Unnamed: 9             49 non-null     object
 10  Unnamed: 10            102 non-null    object
 11  Unnamed: 11            55 non-null     object
 12  Unnamed: 12            102 non-null    object
 13  Unnamed: 13            55 non-null     object
 14  Unnamed: 14            102 non-null    object
 15  Unnamed: 15            55 non-null     object
 16  Unnamed: 16            102 non-null    object
 17  Unnamed: 17            55 non-null     object
 18  Unnamed: 18            2 non-null      object
 19  Unnamed: 19            1 non-null      object
 20  Backlog subject codes  20 non-null     object
 21  College Name           100 non-null    object
 22  College Code           100 non-null    object
 23  University Name        100 non-null    object
 24  District               100 non-null    object
dtypes: float64(2), object(23)
memory usage: 30.2+ KB
None

In [10]:
data.describe()

             S.NO  Mobile Number
count  100.000000    5.400000e+01
mean    53.620000    8.240383e+09
std     35.943778    1.171071e+09
min      1.000000    6.281400e+09
25%     25.750000    7.670894e+09
50%     50.500000    8.555447e+09
75%     75.250000    9.116584e+09
max    152.000000    9.963474e+09

In [12]:
print(data.isnull())

      S.NO  Roll Number   Student Name   Gender     DOB  Mobile Number   \
0     True          True           True     True   True            True
1     True          True           True     True   True            True
2    False         False           True     True   True            True
3    False         False           True     True   True            True
4    False         False           True     True   True            True
..     ...           ...            ...      ...    ...             ...
149  False         False          False    False  False           False
150  False         False          False    False  False           False
151  False         False          False    False  False           False
152  False         False          False    False  False           False
153  False         False          False    False  False           False

     Email ID  Branch  Academics (Marks)  Unnamed: 9  ...  Unnamed: 15  \
0        True    True              False        True  ...         True
1        True    True              False       False  ...        False
2        True   False              False        True  ...         True
3        True   False              False        True  ...         True
4        True   False              False        True  ...         True
..        ...     ...                ...         ...  ...          ...
149     False   False              False        True  ...        False
150     False   False              False        True  ...        False
151     False   False              False        True  ...        False
152     False   False              False        True  ...        False
153     False   False              False        True  ...        False

     Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  \
0          False         True        False         True
1          False        False        False        False
2          False         True         True         True
3          False         True         True         True
4          False         True         True         True
..           ...          ...          ...          ...
149        False        False         True         True
150        False        False         True         True
151        False        False         True         True
152        False        False         True         True
153        False        False         True         True

     Backlog subject codes  College Name   College Code   University Name   \
0                     True           True           True              True
1                     True           True           True              True
2                     True          False          False             False
3                     True          False          False             False
4                     True          False          False             False
..                     ...            ...            ...               ...
149                  False          False          False             False
150                  False          False          False             False
151                   True          False          False             False
152                   True          False          False             False
153                   True          False          False             False

     District
0         True
1         True
2        False
3        False
4        False
..         ...
149      False
150      False
151      False
152      False
153      False

[154 rows x 25 columns]

In [13]:
print(data.isnull().sum())

S.NO                      54
Roll Number               54
Student Name             100
Gender                   100
DOB                      100
Mobile Number            100
Email ID                 100
Branch                    54
Academics (Marks)         52
Unnamed: 9               105
Unnamed: 10               52
Unnamed: 11               99
Unnamed: 12               52
Unnamed: 13               99
Unnamed: 14               52
Unnamed: 15               99
Unnamed: 16               52
Unnamed: 17               99
Unnamed: 18              152
Unnamed: 19              153
Backlog subject codes    134
College Name              54
College Code              54
University Name           54
District                  54
dtype: int64

In [14]:
#Handling Duplicate values

In [15]:
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
149    False
150    False
151    False
152    False
153    False
Length: 154, dtype: bool

In [16]:
print(data["DOB"].duplicated())

0      False
1       True
2       True
3       True
4       True
       ...
149    False
150    False
151    False
152    False
153    False
Name: DOB, Length: 154, dtype: bool

In [17]:
print(data["DOB"].duplicated().sum())

101

In [18]:
#Handling Missing Data

In [19]:
print(data.isnull())

      S.NO  Roll Number   Student Name   Gender     DOB  Mobile Number   \
0     True          True           True     True   True            True
1     True          True           True     True   True            True
2    False         False           True     True   True            True
3    False         False           True     True   True            True
4    False         False           True     True   True            True
..     ...           ...            ...      ...    ...             ...
149  False         False          False    False  False           False
150  False         False          False    False  False           False
151  False         False          False    False  False           False
152  False         False          False    False  False           False
153  False         False          False    False  False           False

     Email ID  Branch  Academics (Marks)  Unnamed: 9  ...  Unnamed: 15  \
0        True    True              False        True  ...         True
1        True    True              False       False  ...        False
2        True   False              False        True  ...         True
3        True   False              False        True  ...         True
4        True   False              False        True  ...         True
..        ...     ...                ...         ...  ...          ...
149     False   False              False        True  ...        False
150     False   False              False        True  ...        False
151     False   False              False        True  ...        False
152     False   False              False        True  ...        False
153     False   False              False        True  ...        False

     Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  \
0          False         True        False         True
1          False        False        False        False
2          False         True         True         True
3          False         True         True         True
4          False         True         True         True
..           ...          ...          ...          ...
149        False        False         True         True
150        False        False         True         True
151        False        False         True         True
152        False        False         True         True
153        False        False         True         True

     Backlog subject codes  College Name   College Code   University Name   \
0                     True           True           True              True
1                     True           True           True              True
2                     True          False          False             False
3                     True          False          False             False
4                     True          False          False             False
..                     ...            ...            ...               ...
149                  False          False          False             False
150                  False          False          False             False
151                   True          False          False             False
152                   True          False          False             False
153                   True          False          False             False

     District
0         True
1         True
2        False
3        False
4        False
..         ...
149      False
150      False
151      False
152      False
153      False

[154 rows x 25 columns]

In [20]:
print(data.isnull().sum())

S.NO                      54
Roll Number               54
Student Name             100
Gender                   100
DOB                      100
Mobile Number            100
Email ID                 100
Branch                    54
Academics (Marks)         52
Unnamed: 9               105
Unnamed: 10               52
Unnamed: 11               99
Unnamed: 12               52
Unnamed: 13               99
Unnamed: 14               52
Unnamed: 15               99
Unnamed: 16               52
Unnamed: 17               99
Unnamed: 18              152
Unnamed: 19              153
Backlog subject codes    134
College Name              54
College Code              54
University Name           54
District                  54
dtype: int64

In [21]:
print(data.dropna())

Empty DataFrame
Columns: [S.NO, Roll Number , Student Name , Gender , DOB, Mobile Number , Email ID, Branch, Academics (Marks), Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Backlog subject codes, College Name , College Code , University Name , District ]
Index: []

[0 rows x 25 columns]

In [22]:
print(data)

      S.NO Roll Number          Student Name  Gender                   DOB  \
0      NaN          NaN                   NaN     NaN                  NaN
1      NaN          NaN                   NaN     NaN                  NaN
2      1.0   21HM1A0517                   NaN     NaN                  NaN
3      2.0   22HM1A0501                   NaN     NaN                  NaN
4      3.0   22HM1A0502                   NaN     NaN                  NaN
..     ...          ...                   ...     ...                  ...
149  148.0   23HM5A0511  MUMMASANI MADHULATHA  FEMALE           19-12-2004
150  149.0   23HM5A0512     PATAN SUHAIB KHAN    MALE  2005-06-12 00:00:00
151  150.0   23HM5A0513  PINJARI ARIF HUSSAIN    MALE  2005-06-11 00:00:00
152  151.0   23HM5A0514          SAKE RADHIKA  FEMALE  2005-05-02 00:00:00
153  152.0   23HM5A0515    SETTIPALLI THULASI  FEMALE           17-01-2004

     Mobile Number                        Email ID Branch Academics (Marks)  \
0               NaN                            NaN    NaN               1yr
1               NaN                            NaN    NaN       Total Marks
2               NaN                            NaN    cse              1800
3               NaN                            NaN    cse              1800
4               NaN                            NaN    cse              1800
..              ...                            ...    ...               ...
149    6.302603e+09  mummasanimadhulatha@gmail.com    cse              1800
150    8.897592e+09  phatansuhaibkhan106@gmail.com    cse              1800
151    7.569061e+09    arifhussain510628@gmail.com    cse              1800
152    8.919440e+09   pujithasakepujitha@gmail.com    cse              1800
153    9.121875e+09    thulasisettipalli@gmail.com    cse              1800

         Unnamed: 9  ...     Unnamed: 15  Unnamed: 16     Unnamed: 17  \
0               NaN  ...             NaN         6sem             NaN
1    Marks Obtained  ...  Marks Obtained  Total Marks  Marks Obtained
2               NaN  ...             NaN          930             NaN
3               NaN  ...             NaN          930             NaN
4               NaN  ...             NaN          930             NaN
..              ...  ...             ...          ...             ...
149             NaN  ...             704          930             715
150             NaN  ...             702          930             577
151             NaN  ...             731          930             715
152             NaN  ...             791          930             769
153             NaN  ...             792          930             773

     Unnamed: 18     Unnamed: 19 Backlog subject codes  \
0           7sem             NaN                   NaN
1    Total Marks  Marks Obtained                   NaN
2            NaN             NaN                   NaN
3            NaN             NaN                   NaN
4            NaN             NaN                   NaN
..           ...             ...                   ...
149          NaN             NaN             20A05601T
150          NaN             NaN              20A04606
151          NaN             NaN                   NaN
152          NaN             NaN                   NaN
153          NaN             NaN                   NaN

                                         College Name  College Code   \
0                                                  NaN           NaN
1                                                  NaN           NaN
2    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
3    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
4    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
..                                                 ...           ...
149  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
150  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
151  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
152  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
153  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM

    University Name    District
0                NaN         NaN
1                NaN         NaN
2              JNTUA  YSR KADAPA
3              JNTUA  YSR KADAPA
4              JNTUA  YSR KADAPA
..               ...         ...
149            JNTUA  YSR KADAPA
150            JNTUA  YSR KADAPA
151            JNTUA  YSR KADAPA
152            JNTUA  YSR KADAPA
153            JNTUA  YSR KADAPA

[154 rows x 25 columns]

In [23]:
print(data.dropna())

Empty DataFrame
Columns: [S.NO, Roll Number , Student Name , Gender , DOB, Mobile Number , Email ID, Branch, Academics (Marks), Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Backlog subject codes, College Name , College Code , University Name , District ]
Index: []

[0 rows x 25 columns]

In [27]:
import numpy as np
print(data.replace(np.nan,0))

      S.NO Roll Number          Student Name  Gender                   DOB  \
0      0.0            0                     0       0                    0
1      0.0            0                     0       0                    0
2      1.0   21HM1A0517                     0       0                    0
3      2.0   22HM1A0501                     0       0                    0
4      3.0   22HM1A0502                     0       0                    0
..     ...          ...                   ...     ...                  ...
149  148.0   23HM5A0511  MUMMASANI MADHULATHA  FEMALE           19-12-2004
150  149.0   23HM5A0512     PATAN SUHAIB KHAN    MALE  2005-06-12 00:00:00
151  150.0   23HM5A0513  PINJARI ARIF HUSSAIN    MALE  2005-06-11 00:00:00
152  151.0   23HM5A0514          SAKE RADHIKA  FEMALE  2005-05-02 00:00:00
153  152.0   23HM5A0515    SETTIPALLI THULASI  FEMALE           17-01-2004

     Mobile Number                        Email ID Branch Academics (Marks)  \
0      0.000000e+00                              0      0               1yr
1      0.000000e+00                              0      0       Total Marks
2      0.000000e+00                              0    cse              1800
3      0.000000e+00                              0    cse              1800
4      0.000000e+00                              0    cse              1800
..              ...                            ...    ...               ...
149    6.302603e+09  mummasanimadhulatha@gmail.com    cse              1800
150    8.897592e+09  phatansuhaibkhan106@gmail.com    cse              1800
151    7.569061e+09    arifhussain510628@gmail.com    cse              1800
152    8.919440e+09   pujithasakepujitha@gmail.com    cse              1800
153    9.121875e+09    thulasisettipalli@gmail.com    cse              1800

         Unnamed: 9  ...     Unnamed: 15  Unnamed: 16     Unnamed: 17  \
0                 0  ...               0         6sem               0
1    Marks Obtained  ...  Marks Obtained  Total Marks  Marks Obtained
2                 0  ...               0          930               0
3                 0  ...               0          930               0
4                 0  ...               0          930               0
..              ...  ...             ...          ...             ...
149               0  ...             704          930             715
150               0  ...             702          930             577
151               0  ...             731          930             715
152               0  ...             791          930             769
153               0  ...             792          930             773

     Unnamed: 18     Unnamed: 19 Backlog subject codes  \
0           7sem               0                     0
1    Total Marks  Marks Obtained                     0
2              0               0                     0
3              0               0                     0
4              0               0                     0
..           ...             ...                   ...
149            0               0             20A05601T
150            0               0              20A04606
151            0               0                     0
152            0               0                     0
153            0               0                     0

                                         College Name  College Code   \
0                                                    0             0
1                                                    0             0
2    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
3    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
4    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
..                                                 ...           ...
149  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
150  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
151  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
152  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
153  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM

    University Name    District
0                  0           0
1                  0           0
2              JNTUA  YSR KADAPA
3              JNTUA  YSR KADAPA
4              JNTUA  YSR KADAPA
..               ...         ...
149            JNTUA  YSR KADAPA
150            JNTUA  YSR KADAPA
151            JNTUA  YSR KADAPA
152            JNTUA  YSR KADAPA
153            JNTUA  YSR KADAPA

[154 rows x 25 columns]

In [30]:
print(data.fillna(method = "bfill"))

      S.NO Roll Number          Student Name  Gender                   DOB  \
0      1.0   21HM1A0517    JUPALLI PREM KUMAR    MALE  2005-06-01 00:00:00
1      1.0   21HM1A0517    JUPALLI PREM KUMAR    MALE  2005-06-01 00:00:00
2      1.0   21HM1A0517    JUPALLI PREM KUMAR    MALE  2005-06-01 00:00:00
3      2.0   22HM1A0501    JUPALLI PREM KUMAR    MALE  2005-06-01 00:00:00
4      3.0   22HM1A0502    JUPALLI PREM KUMAR    MALE  2005-06-01 00:00:00
..     ...          ...                   ...     ...                  ...
149  148.0   23HM5A0511  MUMMASANI MADHULATHA  FEMALE           19-12-2004
150  149.0   23HM5A0512     PATAN SUHAIB KHAN    MALE  2005-06-12 00:00:00
151  150.0   23HM5A0513  PINJARI ARIF HUSSAIN    MALE  2005-06-11 00:00:00
152  151.0   23HM5A0514          SAKE RADHIKA  FEMALE  2005-05-02 00:00:00
153  152.0   23HM5A0515    SETTIPALLI THULASI  FEMALE           17-01-2004

     Mobile Number                        Email ID Branch Academics (Marks)  \
0      6.301243e+09    premkumarjupalli4@gmail.com    cse               1yr
1      6.301243e+09    premkumarjupalli4@gmail.com    cse       Total Marks
2      6.301243e+09    premkumarjupalli4@gmail.com    cse              1800
3      6.301243e+09    premkumarjupalli4@gmail.com    cse              1800
4      6.301243e+09    premkumarjupalli4@gmail.com    cse              1800
..              ...                            ...    ...               ...
149    6.302603e+09  mummasanimadhulatha@gmail.com    cse              1800
150    8.897592e+09  phatansuhaibkhan106@gmail.com    cse              1800
151    7.569061e+09    arifhussain510628@gmail.com    cse              1800
152    8.919440e+09   pujithasakepujitha@gmail.com    cse              1800
153    9.121875e+09    thulasisettipalli@gmail.com    cse              1800

         Unnamed: 9  ...     Unnamed: 15  Unnamed: 16     Unnamed: 17  \
0    Marks Obtained  ...  Marks Obtained         6sem  Marks Obtained
1    Marks Obtained  ...  Marks Obtained  Total Marks  Marks Obtained
2              1288  ...             712          930             664
3              1288  ...             712          930             664
4              1288  ...             712          930             664
..              ...  ...             ...          ...             ...
149             NaN  ...             704          930             715
150             NaN  ...             702          930             577
151             NaN  ...             731          930             715
152             NaN  ...             791          930             769
153             NaN  ...             792          930             773

     Unnamed: 18     Unnamed: 19        Backlog subject codes  \
0           7sem  Marks Obtained  20A54101(M1), 20A05601T(CD)
1    Total Marks  Marks Obtained  20A54101(M1), 20A05601T(CD)
2            NaN             NaN  20A54101(M1), 20A05601T(CD)
3            NaN             NaN  20A54101(M1), 20A05601T(CD)
4            NaN             NaN  20A54101(M1), 20A05601T(CD)
..           ...             ...                          ...
149          NaN             NaN                    20A05601T
150          NaN             NaN                     20A04606
151          NaN             NaN                          NaN
152          NaN             NaN                          NaN
153          NaN             NaN                          NaN

                                         College Name  College Code   \
0    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
1    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
2    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
3    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
4    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
..                                                 ...           ...
149  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
150  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
151  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
152  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
153  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM

    University Name    District
0              JNTUA  YSR KADAPA
1              JNTUA  YSR KADAPA
2              JNTUA  YSR KADAPA
3              JNTUA  YSR KADAPA
4              JNTUA  YSR KADAPA
..               ...         ...
149            JNTUA  YSR KADAPA
150            JNTUA  YSR KADAPA
151            JNTUA  YSR KADAPA
152            JNTUA  YSR KADAPA
153            JNTUA  YSR KADAPA

[154 rows x 25 columns]

C:\Users\ramku\AppData\Local\Temp\ipykernel_19120\2754045057.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "bfill"))

In [34]:
print(data.ffill())

      S.NO Roll Number          Student Name  Gender                   DOB  \
0      NaN          NaN                   NaN     NaN                  NaN
1      NaN          NaN                   NaN     NaN                  NaN
2      1.0   21HM1A0517                   NaN     NaN                  NaN
3      2.0   22HM1A0501                   NaN     NaN                  NaN
4      3.0   22HM1A0502                   NaN     NaN                  NaN
..     ...          ...                   ...     ...                  ...
149  148.0   23HM5A0511  MUMMASANI MADHULATHA  FEMALE           19-12-2004
150  149.0   23HM5A0512     PATAN SUHAIB KHAN    MALE  2005-06-12 00:00:00
151  150.0   23HM5A0513  PINJARI ARIF HUSSAIN    MALE  2005-06-11 00:00:00
152  151.0   23HM5A0514          SAKE RADHIKA  FEMALE  2005-05-02 00:00:00
153  152.0   23HM5A0515    SETTIPALLI THULASI  FEMALE           17-01-2004

     Mobile Number                        Email ID Branch Academics (Marks)  \
0               NaN                            NaN    NaN               1yr
1               NaN                            NaN    NaN       Total Marks
2               NaN                            NaN    cse              1800
3               NaN                            NaN    cse              1800
4               NaN                            NaN    cse              1800
..              ...                            ...    ...               ...
149    6.302603e+09  mummasanimadhulatha@gmail.com    cse              1800
150    8.897592e+09  phatansuhaibkhan106@gmail.com    cse              1800
151    7.569061e+09    arifhussain510628@gmail.com    cse              1800
152    8.919440e+09   pujithasakepujitha@gmail.com    cse              1800
153    9.121875e+09    thulasisettipalli@gmail.com    cse              1800

         Unnamed: 9  ...     Unnamed: 15  Unnamed: 16     Unnamed: 17  \
0               NaN  ...             NaN         6sem             NaN
1    Marks Obtained  ...  Marks Obtained  Total Marks  Marks Obtained
2    Marks Obtained  ...  Marks Obtained          930  Marks Obtained
3    Marks Obtained  ...  Marks Obtained          930  Marks Obtained
4    Marks Obtained  ...  Marks Obtained          930  Marks Obtained
..              ...  ...             ...          ...             ...
149            1261  ...             704          930             715
150            1261  ...             702          930             577
151            1261  ...             731          930             715
152            1261  ...             791          930             769
153            1261  ...             792          930             773

     Unnamed: 18     Unnamed: 19 Backlog subject codes  \
0           7sem             NaN                   NaN
1    Total Marks  Marks Obtained                   NaN
2    Total Marks  Marks Obtained                   NaN
3    Total Marks  Marks Obtained                   NaN
4    Total Marks  Marks Obtained                   NaN
..           ...             ...                   ...
149  Total Marks  Marks Obtained             20A05601T
150  Total Marks  Marks Obtained              20A04606
151  Total Marks  Marks Obtained              20A04606
152  Total Marks  Marks Obtained              20A04606
153  Total Marks  Marks Obtained              20A04606

                                         College Name  College Code   \
0                                                  NaN           NaN
1                                                  NaN           NaN
2    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
3    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
4    ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
..                                                 ...           ...
149  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
150  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
151  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
152  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM
153  ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES            HM

    University Name    District
0                NaN         NaN
1                NaN         NaN
2              JNTUA  YSR KADAPA
3              JNTUA  YSR KADAPA
4              JNTUA  YSR KADAPA
..               ...         ...
149            JNTUA  YSR KADAPA
150            JNTUA  YSR KADAPA
151            JNTUA  YSR KADAPA
152            JNTUA  YSR KADAPA
153            JNTUA  YSR KADAPA

[154 rows x 25 columns]