In [1]:
a = "OOTD.YOLO.ASAP.BRB.GTG.OTW"

In [6]:
#separate string with comma(,) separated values
print(a.split("."))

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GTG', 'OTW']

In [9]:
#sort strings alphabetically
print(sorted(a))

['.', '.', '.', '.', '.', 'A', 'A', 'B', 'B', 'D', 'G', 'G', 'L', 'O', 'O', 'O', 'O', 'O', 'P', 'R', 'S', 'T', 'T', 'T', 'W', 'Y']

In [11]:
a = "hello"
b = a.replace("e"," ")
print(b)

h llo

In [14]:
#remove dots
z = "F.R.I.E.N.D.S"
print(z.replace(".",""))

FRIENDS

In [15]:
#check no.of occurance of substring in a string
a = "hi hi ihihi hello hihihihih hi hi"
print(a.count("hi"))

10

In [17]:
#reverse string
name = "Ram"
rev_name = name[::-1]
print(rev_name)

maR

In [20]:
#check if string contains only digits
a = "123"
print(a.isalnum())
print(a.isdigit())

True
True

In [19]:
#check if string is a palindrome
name = "RAR"
if name == name[::-1]:
    print("Yes it is a palindrome")
else:
    print("No it is not a palindrome")

Yes it is a palindrome

In [26]:
#find no of vowels in a string
a = "hello ndnddnndnddnaaa"
vowels = 0
for i in a:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" or i == "A" or i == "E" or i == "I" or i == "O" or i == "U":
        vowels+=1
print(vowels)

5

In [28]:
#check if 1st letter is capital or not
name = input("Enter name: ")
print(name.istitle())

Enter name:  Ram

True

In [5]:
#convert dictionary into JSON format
import json #first import json
student_data = {"name":"Ram", "age":21}
print(student_data)
print(type(student_data))
data = json.dumps(student_data)
print(data)
print(type(data))

{'name': 'Ram', 'age': 21}
<class 'dict'>
{"name": "Ram", "age": 21}
<class 'str'>

In [9]:
#access value of age from JSON data
student_data = """{"name":"Ram", "age":21}"""
data = json.loads(student_data)
print(data["age"])

21

In [12]:
#pretty print following json data
student_data = {"name":"Ram", "age":13}
data = json.dumps(student_data, indent = 4, separators = (",","="))
print(data)

{
    "name"="Ram",
    "age"=13
}

In [18]:
a = ["Ross", "Rachel", "Monica", "Joe", "Chandler", "Phoebe"]
print(a)

['Ross', 'Rachel', 'Monica', 'Joe', 'Chandler', 'Phoebe']

In [19]:
a[0], a[3] = a[3], a[0]

print(a)

['Joe', 'Rachel', 'Monica', 'Ross', 'Chandler', 'Phoebe']

In [22]:
a.insert(1, "Ram")
print(a)

['Joe', 'Ram', 'Rachel', 'Hero', 'Ross', 'Chandler', 'Phoebe']

In [25]:
b = [1,2,3,4,50]
mul = 1
for i in b:
    mul*=i
print(mul)

1200

In [29]:
#get, #item, #keys, #values, #copy, #setdefault, #update, #pop, #popitem, #clear

In [33]:
a = {"a":12, "b":23, "c":6, "d":91, "e":45}
a = sorted(a.values())
print(a)

[6, 12, 23, 45, 91]

In [34]:
def addition():
    c = 4+5
    print(c)
addition()

9

In [35]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)
n = int(input())
fact(n)

 5

120

In [37]:
a = lambda b: b*5
print(a(4))

20

In [45]:
#max 3 numbers 
def maz_num(a,b,c):
    if a>b and b>c:
        print("a is greater")
    elif b>a and b>c:
        print("b is greater")
    else:
        print("c is greatest")
maz_num(1,2,3)

c is greatest

In [46]:
#values are squares of numbers
def create_list():
    l = []
    for i in range(1,31):
        l.append(i*i)
    return l
print(create_list())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [47]:
#check prime
def check_prime(n):
    if n==1:
        print("is not prime")
    if n==2:
        print("is a prime")
    if n>3:    
        for i in range(2,n+1):
            if n%i==0:
                print("is not a prime")
                break
            else:
                print("is a prime")
check_prime(4)

is not a prime

In [48]:
def add(n):
    total = 0
    for i in n:
        total+=1
    return(total)
print(add([1,2,3,4]))

4

In [53]:
def add(n):
    if len(n)==1:
        return (n[0])
    else:
        return (n[0]+add(n[1:]))
print(add([12,3,4,5]))

24

In [56]:
#fibonacci using recursion
def fibo(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)
print(fibo(9))

21

In [57]:
import datetime

x = datetime.datetime.now()
print(x)

2026-02-09 12:09:55.763558

In [61]:
x = datetime.datetime.today()
print(x)

2026-02-09 12:11:33.928132

In [63]:
import random
x = random.randint(1,10)
print(x)

6

In [2]:
x = lambda a,b,c: (a+b)*c
print(x(1,2,4))

12

In [3]:
area = lambda radius: (radius**2)
print(area(3))

9